<div class="border border-dark">
    <form class="text-center p-5" #form=ngForm (ngSubmit)="signUp(form)">

        <p class="h4 mb-4">Sign up</p>

        <div class="form-row mb-4">
            <div class="col">
                <!-- First name -->
                <input type="text" id="firstName" (keyup)="submitted = false" class="form-control"
                    placeholder="First name" name="firstName" ngModel #firstName="ngModel" required>
                <small *ngIf="submitted && firstName.errors && firstName.errors.required" class="text-danger"> First Name is required
                </small>
            </div>
            <div class="col">
                <!-- Last name -->
                <input type="text" id="lastName" class="form-control" placeholder="Last name" name="lastName" ngModel
                    #lastName="ngModel">
            </div>
        </div>

        <div class=" form-group">
            <input type="email" ngModel #email="ngModel" (keyup)="submitted = false" name="email" id="email"
                class="form-control" placeholder="E-mail" required email>
            <small *ngIf="email.dirty &&  email.errors && email.errors.email" class="text-danger"> Please provide a
                valid email address
            </small>
            <small *ngIf="submitted &&  email.errors && email.errors.required" class="text-danger"> Email address is
                required </small>
        </div>

        <div class="form-group mt-4">
            <input type="password" (keyup)="submitted = false" name="password" ngModel #password="ngModel"
                class="form-control " placeholder="Password" minlength="8" required>
            <small *ngIf="submitted && password.errors && password.errors.required" class="text-danger"> Password is
                required </small>
                <small class="text-danger" *ngIf="password.errors && password.errors.minlength">password must be at least 8 characters long.</small>

        </div>

        <div class="form-group mt-4">
            <input type="number" id="phone"  class="form-control" placeholder="Phone number" name="phone" ngModel
                #phone="ngModel">

        </div>
        <!-- Sign up button -->
        <button type="submit" class="btn btn-info btn-block">Sign up</button>

        <hr>
        <p>Already a user? <a [routerLink]="['/login']">Login</a></p>

    </form>
</div>